* { margin: 0; padding: 0; box-sizing: border-box; }

html { background: black url("images/media-links-background-1.jpeg") center center no-repeat;
    background-size: cover; color: white; }

body { display: block; /* grid = best option */ place-items: center; 
    margin: 0; font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px; line-height: 1.5em; /* 1em = font-size */ }
    @media (min-width: 500px) { body { display: grid; } }

.Container { margin: 2vh; background: rgba(61, 68, 97, 0.836); 
    padding: 2rem; border-radius: 2rem; line-height: 1.5em; 
    font-size: clamp(1rem, 2vw, 2rem); /* [min, font-size, max] */ }
    @media (min-width: 380px) { .Container { margin: 2vh; padding: 1.5rem; border-radius: 1rem; } }
    @media (min-width: 500px) { .Container { margin: 2vh; padding: 2rem; } }
    @media (min-width: 800px) { .Container { margin: 2vh; padding: 3rem; } }

/* TODO */

    header { display: flex; justify-content: space-between; }
        @media (max-width: 700px) { header {flex-direction: column;} }
        .Avatar { display: block; width: 112px; height: 112px; /* height: auto */ 
            margin: 0.1em 1em 0; border-radius: 50%; }
            @media (min-width: 380px) { .Avatar { float: left; } }
            @media (min-width: 930px) { .Avatar { width : clamp(130px, 14vw, 12rem); } }
        .TitlulPaginii { display: block; margin: 0;
            font-size: clamp(2rem, 6vw, 4rem); line-height: 1em; }
        .DescrierePrincipala { display: block; margin: 0.5em 0 1.5em; }
            @media (min-width: 500px) { .DescrierePrincipala { margin-bottom: 0.5em; } }
        .MenuFlags { margin: 0 0.3em;}
            .MenuFlags a { text-decoration: none; }
            .MenuFlags img { margin: 0 0.5em 1em; width: 24px; heigth: auto; }
            .MenuFlags img:hover { width: 30px; height: auto; }
            
    main { clear: both; }
        .ListaLinkuri { display: block; margin: 0; padding: 0; border-top: 1px solid #fff; }
            @media (min-width: 1200px) { .ListaLinkuri { display: grid; grid-template-columns: 1fr 1fr; } }
            .ListaItem { display: block; margin: 0; padding: 0; border-bottom: 1px solid #fff; }
                .ListaLink { display: block; padding: 0.5em; color: #fff; text-decoration: none; }
                .ListaLink:hover { background: #fff; color: black; }
                    .ListaTitlu, 
                    .ListaText { display: block; margin: 0; padding: 0; 
                        font-size: 1em; line-height: 1.5em; }
                    .ListaText { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

            

                    
